*{
    box-sizing: border-box;
    margin: 0;
}
header p{
    background: #1CD1B0;
    height: 23px;
    padding: 2px 0px 10px 10px;
}

header div.superheroes{
    display: flex;
    justify-content:flex-start;
    background-color:
    #00669F;
    height: 90px;
    color: white;
}

